beautifulsoup4==4.9.0
certifi==2022.12.7
chardet==3.0.4
chatterbot-corpus==1.2.0
click==7.1.2
comtypes==1.1.7
cycler==0.10.0
cymem==2.0.3
cython
fastai==1.0.60
fastprogress==0.2.3
freetype-py==2.1.0.post1
future==0.18.2
glfw==1.10.1
ibm-cloud-sdk-core==1.5.1
ibm-watson==4.4.0
idna==2.9
joblib==0.14.1
mathparse==0.1.2
murmurhash==1.0.2
nltk==3.5
nvidia-ml-py3==7.352.0
packaging==20.3
Pillow==7.0.0
Pint==0.11
plac==0.9.6
PyJWT==1.7.1
pymongo==3.10.1
pyparsing==2.4.7
python-dateutil==2.7.5
pyttsx3==2.87
pytz==2020.1
PyYAML==3.13
requests==2.23.0
scipy==1.4.1
six==1.14.0
soupsieve==2.0
SQLAlchemy==1.2.19
torch
torchvision
tqdm==4.45.0
urllib3==1.25.9
wasabi==0.6.0
websocket-client==0.48.0
wincertstore==0.2